body{
background-color: black;
margin : 0%;
color: white;
}


/* header */
header { 
    background-color: #202020;   
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;            
}
    
#logo { 
    height: 50px;    
    width: 50px;
    padding-left: 45%;
}
        
nav {
    width: 100%;    
}
    
nav a{ 
    font-family: 'Be Vietnam Pro', sans-serif;    
    text-decoration: none; 
    color: white;
    width: 14.28%;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
    




.popularesHome{
    list-style: none;
    display: flex; 
}

.popularesHome img {
    max-width: 100%;
    box-sizing: border-box;
    flex: none;
    padding: 20px;
    height: 430px;
    width: 400px;
}

.detallesHome{
    text-decoration: none;
}

h3{
    color: white;
    text-align: center;
    font-weight: normal;
}

.homePopulares {
    font-size: 1.7rem;
    line-height: 1.3;
    color:white;
    text-align: center;
    margin-top: 70px;
    font-weight: normal;
}

.generosPlus{
    font-size: 1.7rem;
    line-height: 1.3;
    color:white;
    text-align: center;
    margin-top: 70px;
    font-weight: normal;
}

.generosPopulares {
    list-style: none;
    display: flex;
}

.generosPopulares img {
    max-width: 100%;
    box-sizing: border-box;
    flex: none;
    padding: 20px;
    height: 400px;
    width: 500px;
}
.generosHome {
    text-decoration: none;
}

/* Detalles movies + series */
.contenedor{ 
    
    width: 90%;
    height: 1200px;
    margin-right: 5%;
    margin-left: 5%;
}
    
    
.detail-box {
    border-radius: 10px;       
    border: 0.5px solid grey;
    width: 31%;
    height: 90%;
    margin: 20px 0px 40px 0px;
    float: left; 
}
    
.photo-box{   
    padding: 30px;
    height: 90%;
    width: 90%;
}
    
.text-box {  
    height: 25%;
    margin-right : 30px;
}
    
.text-box li, a { 
    color: white;    
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    line-height: 50px;
    text-decoration: none;
}
    
#ul-fav {
    color: #BBA35E;   
}
    
#ul-genre {
    font-style: italic;    
}    
    
.detail-title {
    width: 65%;
    float: right;
}    
    
#title-d {
    font-family: 'Cinzel' ;  
    font-size: 50px;  
}
    
#sinopsis {
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    opacity: 0.8;
    margin-bottom: 50px;    
}

.accionDetalle{
    list-style: none;
    display: flex; 
}

.accionDetalle img {
    max-width: 100%;
    box-sizing: border-box;
    flex: none;
    padding: 20px;
    height: 430px;
    width: 400px;
}
.detalleAccion {
    font-size: 1.7rem;
    line-height: 1.3;
    color:white;
    text-align: center;
    margin-top: 70px;
    font-weight: normal;
}
.detallesPeliculasAccion{
    text-decoration: none;
}

/* footer */
.footer { 

    display: grid;    
    background-color: #202020; 
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 150px;
    padding: 10px 0%;
    }
        
    .footer p{
        
    color: white;
    opacity: 0.8;
    }
    