body{
background-color: black;
margin : 0%;
}

.header { 

    background-color: #202020;   
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;            
}
    
#logo { 
    
    height: 70px;    
    width: 70px;
    padding: 6px 0px 6px 55px;
}
        
.nav { 
    
    font-family: 'Be Vietnam Pro', sans-serif;    
    text-decoration: none; 
    font-size: 20px;
    color: white;
    padding: 0% 90px;
}

.popularesHome{
    list-style: none;
    display: flex; 
}

.popularesHome img {
    max-width: 100%;
    box-sizing: border-box;
    flex: none;
    padding: 20px;
    height: 430px;
    width: 400px;
}

.detallesHome{
    text-decoration: none;
}

h3{
    color: white;
    text-align: center;
    font-weight: normal;
}

.homePopulares {
    font-size: 1.7rem;
    line-height: 1.3;
    color:white;
    text-align: center;
    margin-top: 70px;
    font-weight: normal;
}

.generosPlus{
    font-size: 1.7rem;
    line-height: 1.3;
    color:white;
    text-align: center;
    margin-top: 70px;
    font-weight: normal;
}

.generosPopulares {
    list-style: none;
    display: flex;
}

.generosPopulares img {
    max-width: 100%;
    box-sizing: border-box;
    flex: none;
    padding: 20px;
    height: 400px;
    width: 500px;
}
.generosHome {
    text-decoration: none;
}

#titulo-detalles {

font-family:'Cinzel', serif;
color: white;
}

.texto-detalles  {

    color: white;
}

#foto-detalles{ 

    width: 500px;
    height: 750px;
}

.footer { 

    display: grid;    
    background-color: #202020; 
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 150px;
    padding: 10px 0%;
}
    
.footer p{
    
    color: white;
    opacity: 0.8;
}
.accionDetalle{
    list-style: none;
    display: flex; 
}

.accionDetalle img {
    max-width: 100%;
    box-sizing: border-box;
    flex: none;
    padding: 20px;
    height: 430px;
    width: 400px;
}
.detalleAccion {
    font-size: 1.7rem;
    line-height: 1.3;
    color:white;
    text-align: center;
    margin-top: 70px;
    font-weight: normal;
}
.detallesPeliculasAccion{
    text-decoration: none;
}